body {
  font-size: 16px;
  background-color: rgb(211, 202, 202);
}
h1 {
  font-family: sans-serif;
  font-style: oblique;
  line-height: 20px;
  text-align: center;
  text-decoration: underline;
  color: rgb(43, 41, 38);
}

p {
  font-weight: 600;
  font-size: 25px;
  color: rgb(64, 64, 146);
  text-align: center;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}

.list-style {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}